@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .sms-radius {
        border-bottom-left-radius: 50% 8%;
        border-bottom-right-radius: 50% 8%;
      /* background-color: theme('colors.white');
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.6');
      box-shadow: theme('boxShadow.xl'); */
    }
  }